[contenteditable='true'] {
    outline: 1px dotted rgba(0, 0, 0, 0.432);
    background: rgba(0, 0, 0, 0.043);
}
#text-edit-bar{
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 5px 10px;
}
#view_darg{
  top: 0;
  position: fixed;
  z-index: -999;
  height: 100vh;
  width: 100vw;
}